/data/aligned_articles_corpus/wikicomp-2014_deen.xml.bz2
/data/ldatranslate-0.1.0-cp312-none-win_amd64.whl
/wheels
/data/dictionaries/DictCC/
/data/dictionaries/dicts.info/
/data/dictionaries/ding/
/data/dictionaries/eurovoc/
/data/dictionaries/freedict/
/data/dictionaries/IATE/
/data/dictionaries/Microsoft TermCollection/
/data/dictionaries/MUSE/
/data/dictionaries/Wiktionary/
/tmt
